/*DISCOGRAFIA*/
.discografia__titulo{
    font-family: $mainFont;
    font-size: 40px;
    text-align: center;
    color: $secondColor;
    margin-top: 2rem;
}
.tituloDiscografia1{
    font-family: $mainFont;
    text-align: center;
    font-size: 25px;
    color: $secondColor;
    margin-top: 1rem;
    margin-left: 1rem;
}
.textoDiscografia p{
    font-size: 20px;
    color:$secondColor ;
    margin-top: 20px;
    padding: 10px;
    text-align: justify;
    font-family: $secondFont;
}

/*GALERIA*/
.tituloGaleria{
    font-family: $mainFont;
    font-size: 40px;
    text-align: center;
    color: $secondColor;
    margin-top: 2rem;
}
.videoUno p{
    font-family: $mainFont;
    font-size: 25px;
    color: $secondColor;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    text-align: center;
}
.imgUno{
    margin-bottom: 2rem;
}