/*TOUR*/

.tituloTour{
    font-family: $mainFont;
    font-size: 40px;
    text-align: center;
    color: $secondColor;
    margin-top: 2rem;
}
.table{
    font-family: $mainFont;
    font-size: 20px;
    text-align: center;
    color: $secondColor;
}
