/*TOUR*/

.tour__titulo{
    font-family: $mainFont;
    font-size: 40px;
    text-align: center;
    color: $secondColor;
    margin-top: 2rem;
}
.tour__img{
    width: 100vw;
    height: calc(100vh - 80px);
}
.table{
    font-family: $mainFont;
    font-size: 20px;
    text-align: center;
    color: $secondColor;
}
