@import './variables';
@import './home';
@import './tour';
@import './discografia-galeria';
@import './contactos';
@import './shop';

*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}

h1{
    margin: 0%;
}
.navbar-brand{
    display: flex;
    background-color: $maincolor;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-size: 70px;
    color: $thirdColor;
    text-align: center;
    font-family: $mainFont;
}
.conteiner-fluid{
    display: flex;
    flex-direction: column;

}

nav{
   background-color: $maincolor;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.nav-item{
    text-decoration: none;
    font-size: 20px;
    color: $thirdColor;
    font-family: $mainFont;;
}
ul{
    padding-top: 1rem;
    text-align: center;
}
a{
    text-decoration: none;
    color: $thirdColor;
}

/*FOOTER*/ 
.redes-web{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: $maincolor;

    & i{
        font-size: 30px;
        color: $thirdColor;
    }

    & p{
        list-style-type: none;
        font-size: 15px;
        color: $thirdColor;
        font-family: $mainFont;
        padding-top: 15px;
        text-align: center;
        padding-bottom: 10px;
    }
}

/*MEDIA Q*/

@media screen and (max-width: 600px){

    .navbar-dark .navbar-toggler {
        color: white;
        border-color: white;
    }
    .nav-item {
        text-decoration: none;
        font-size: 16px;
        color: white;
        font-family: "Montserrat", sans-serif;
    }
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    .content{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;  
        margin: 0.2rem; 
    }
    
    .content__acerca{
        padding: 1rem;
    }
    .content__titulo{
        font-family: $mainFont;
        font-size: 30px;
        text-align: center;
        color: $secondColor;
    }
    .content p{
        font-size: 20px;
        color:$secondColor ;
        padding: 10px;
        text-align: justify;
        font-family: $secondColor
    }
    
    .content__illus{
        max-width: 100%;
        align-self: center;
        padding: 1fr;
    }
    
    .contentDos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0.2rem; 
    }
    .contentDos__acerca{
        padding: 1rem;
    }
    .contentDos p{
        font-size: 20px;
        color:$secondColor ;
        padding: 10px;
        text-align: justify;
        font-family: $secondColor
    }
    .contentDos__illus{
        max-width: 100%;
        align-self: center;
        padding: 1fr;
    }
    .contentTres{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem; 
    }
    .contentTres__acerca{
        padding: 1rem;
    }
    .contentTres p{
        font-size: 20px;
        color:$secondColor ;
        margin-top: 20px;
        padding: 10px;
        text-align: justify;
        font-family: $secondColor
    }
    .contentTres__illus{
        max-width: 100%;
        align-self: center;
        padding: 1fr;
    }


.redes-web i{
    font-size: 25px;
    color: $thirdColor;
}
.redes-web p{
    list-style-type: none;
    font-size: 10px;
    color: $thirdColor;
    font-family: $mainFont;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
}

/*GALERIA*/
.vidUno{
        max-width: 100%;
        align-self: center;
        padding: 1fr;
}
.vidDos{
    max-width: 100%;
    align-self: center;
    padding: 1fr;
}
.table {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-align: center;
    color: #545051;
}
.tituloShop{
    font-family: $mainFont;
    font-size: 30px;
    text-align: center;
    color: $secondColor;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.shop{
    max-width: 100%;
    margin-left: 0.1rem;
}
}